
<body style="margin: 0;
            padding-bottom: 60px">
<section class="content-header">
    <nav class="btn navbar-expand">
      <div>
        <a href="/admin" class="btn btn-primary btn-block alert-info" id="btn-login"><i class="fa fa-arrow-left mr-2"></i>Voltar</a>
      </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <!-- Card 1 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">1</h5>
                        <p class="card-text">Conteúdo do c1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Card 2 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> 2</h5>
                        <p class="card-text">Conteúdo do  2.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Card 3 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">3</h5>
                        <p class="card-text">Conteúdo do 3.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
         
                <h4>Opções para Gráfico</h4>
             
            </div>
            <div class="col-md-6">
             
                <h4>Tabela Consultada</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                     
                        <tr>
                            <td>1</td>
                            <td>João</td>
                            <td>joao@example.com</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Maria</td>
                            <td>maria@example.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
 
</body>

</html>