<!DOCTYPE html>
<!-- <html> -->
 <html lang="pt-br" data-theme="light" data-sidebar-behaviour="fixed" data-navigation-color="inverted" data-is-fluid="true">

 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Notificação | Shineray</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="/res/admin/dist/css/main.css"
  />

  <!-- Link do favicon -->
  <link
    rel="shortcut icon"
    href="/res/admin/dist/img/favicon2.ico"
    type="image/x-icon"
  />
</head>

<body>

          
    <ul class="navbar-nav ml-auto">
       

     
      <a class="btn navbar-expand" >
      <div>
        <a href="/" class="btn btn-primary btn-block alert-info" id="btn-login"><i class="fa fa-arrow-left mr-2"></i>Voltar para o canal</a>
      </div>
      </div>
      </nav>

</section>