{include="sidemenu"}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Lista de Setores</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin/units">Unidadess</a></li>
                <li class="breadcrumb-item active">Cadastrar Unidade</li>
            </ol>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="container-fluid">
        <div class="container ">
            {if="$success == 1"}
            <div class="row">
                <div class="col-md-12">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Unidade cadastrada com <strong>sucesso</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                </div>
            </div>
            {/if}
            </div>
        <div class="row">
            <!-- left column -->
            <div class="col">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header alert-info">
                <h3 class="card-title">Cadastrar nova unidade</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="/admin/units/create" method="post">
                <div class="card-body">
                    <div class="form-group">
                    <label for="name">Nome da unidade</label>
                    <input type="text" class="form-control" maxlength="37" id="name" name="name" placeholder="Digite o nome da unidade">
                    </div>
                    <div class="form-group">
                    <label for="cod_unit">Código da unidade</label>
                    <input type="text" class="form-control" id="cod_unit" name="cod_unit" placeholder="Digite o código da unidade">
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary alert-info">Cadastrar</button>
                </div>
                </form>
            </div>
            <!-- /.card -->
            </div>
            <!--/.col  -->
        </div>
        <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->